APP_NAME=Atlas VPN

DEBUG=True

SECRET_KEY=CHANGE_ME

DATABASE_URL=postgresql://atlas:atlas123@postgres:5432/atlasvpn

REDIS_URL=redis://redis:6379

BOT_TOKEN=YOUR_BOT_TOKEN

MARZBAN_URL=http://marzban:8000

MARZBAN_USERNAME=admin

MARZBAN_PASSWORD=password
